.back-btn {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1000;

    display: inline-block;
    background-color: #5af9ff;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    margin-bottom: 16px;
}

.back-btn:hover {
    background-color: #256528;
    transform: translateY(-1px);
}