.account {
position: absolute;
top: 20px;
right: 40px;
font-size: 20px;
color: white;
}


.buttons {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
gap: 12px;
}


.btn {
background: #b5b5b5;
color: black;
padding: 10px 25px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 14px;
}


.btn:hover {
background: #a0a0a0;
}